$color-header-black: #262626;
$color-border: #e9bb1c;
$color-hover-grey: #a5a5a5;
$color-main-grey: #4b4b49;
$color-redish: #c62d32;
$color-basic-grey: #5f5f5d;
$color-dark-grey: #323231;
$color-menu-black: #343433;
$color-white: #ffffff;

$color-primary: #08a6e4;
$color-primary-shadow: #00000029;
$color-green: #55dfb4;
$color-black: #000000;
$color-grey: gray;
$color-light-grey: #f7f7f7;
