* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

h1 {
  font-family: $font-headers;
  font-size: 3.5rem;
  font-weight: 400;
  color: $color-main-grey;
  line-height: 1.5;
}

h2 {
  font-family: $font-headers;
  font-size: 2.3rem;
  font-weight: 400;
  color: $color-redish;
}

p {
  font-family: $font-headers;
  font-size: 1.375rem;
  font-weight: 400;
  color: $color-basic-grey;
}
li {
  font-family: $font-lists;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.5;
  color: $color-basic-grey;
}

.container {
  width: 100%;
  padding: 0 15px;
}

section,
header {
  border-left: 1px solid #e8e9ed;
  border-right: 1px solid #e8e9ed;
}

@media (min-width: 1441px) {
  section,
  .top-menu {
    width: 1440px;
    margin: 0 auto;
  }
}
@media (max-width: 991px) {
  h1 {
    font-size: 2.5rem;
    text-align: center;
  }
}
@media (max-width: 767px) {
  h1 {
    font-size: 1.5rem;
  }
  h2 {
    font-size: 1.5rem;
  }
  p {
    font-size: 1rem;
  }
  li {
    font-size: 0.875rem;
  }
}
