.benefits-container {
  margin-top: 50px;

  .benefits-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    max-width: 800px;
    margin: 25px auto;
  }
}

.box {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  margin-bottom: 25px;
  height: 260px;
  p {
    max-width: 160px;
    line-height: 1.2;
  }
  .icon {
    width: 220px;
    height: 220px;
    border-radius: 50%;
    position: relative;
  }

  // .circle1 {
  //   // background-color: $color-redish;

  //   .benefits-img {
  //     top: 0px;
  //     left: 45%;
  //   }
  // }

  // .circle2 {
  //   // background-color: $color-primary;

  //   .benefits-img {
  //     top: 10px;
  //     left: 45%;
  //   }
  // }

  // .circle3 {
  //   // background-color: $color-green;

  //   .benefits-img {
  //     top: 7px;
  //     left: 50%;
  //   }
  // }

  .benefits-text {
    font-size: 1.0625rem;
    color: $color-grey;
    margin-top: 19px;
  }
}

@media (min-width: 930px) {
  .benefits-info {
    margin: 50px auto;
  }
}
@media (max-width: 929px) {
  .benefits-container {
    .benefits-info {
      max-width: 700px;
    }
  }
}
@media (min-width: 790px) {
  .benefits-container {
    margin-top: 50px;

    .benefits-small-header {
      padding: 0;
    }

    .benefits-info {
      flex-direction: row;
      // margin: 50px 50px;

      .box {
        margin-bottom: 0;
      }
    }
  }
}
