.contact {
  padding-top: 70px;
  padding-bottom: 150px;

  .container {
    display: flex;
    justify-content: space-evenly;
  }
  .contact-container__content {
    margin-top: 70px;
    width: 270px;
  }
  .contact-container__info {
    font-size: 1.375rem;
    font-family: $font-lists;
    color: $color-dark-grey;
    font-weight: 600;

    .person {
      color: $color-redish;
      margin-top: 30px;
      font-weight: 700;
    }
    .person,
    .address,
    .fax,
    .e-mail {
      padding: 5px 0;
      line-height: 1.35;
    }
  }
}

@media (max-width: 991px) {
  .contact {
    padding-top: 0;
    padding-bottom: 50px;
    .container {
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      padding: 0 80px;
    }
    .contact-container__content {
      padding-bottom: 20px;
    }
  }
}
@media (max-width: 767px) {
  .contact {
    .contact-container__content {
      align-self: center;
      width: auto;
    }
    .contact-container__info {
      font-size: 1rem;
    }
  }
}
@media (max-width: 650px) {
  .contact {
    .container {
      padding: 0 10px;
    }
    .map {
      width: 100%;
      padding: 0 15px;
      iframe {
        width: 100%;
      }
    }
  }
}
@media (max-width: 380px) {
  .contact .map {
    padding: 0;
  }
}
